<div class="card mt-2">
    <table class="header-table">
        <thead>
            <tr>
                <th *ngFor="let col of cols">{{ col.header }}</th>
            </tr>
        </thead>
    </table>

    <table
        class="scrollable-table"
        infinite-scroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="50"
        [fromRoot]="true"
        [infiniteScrollContainer]="'.scrollable-table'"
        (scrolled)="onScrollDown()"
        (scrolledUp)="onScrollUp()"
    >
        <tbody>
            <tr *ngFor="let user of users">
                <td>
                    {{ user.index }}
                </td>
                <td>
                    {{ user.id }}
                </td>
                <td>
                    {{ user.fullName }}
                </td>
                <td>
                    {{ user.address }}
                </td>
                <td>
                    {{ user.phone }}
                </td>
            </tr>
        </tbody>
    </table>
</div>
